package {{packageName}}.entity;

import jakarta.persistence.*;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.Builder;
import org.hibernate.annotations.CreationTimestamp;
import org.hibernate.annotations.UpdateTimestamp;
import org.hibernate.annotations.UuidGenerator;
import java.time.LocalDateTime;
import java.util.UUID;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Entity
@Table(name = "{{tableName}}")
public class {{classname}}Entity {

    @Id
    @UuidGenerator
    @Column(name = "{{classVarName}}_id", updatable = false, nullable = false)
    private UUID {{classVarName}}Id;

    {{#vars}}
    @Column(name = "{{name}}"{{#required}}, nullable = false{{/required}}{{#maxLength}}, length = {{maxLength}}{{/maxLength}})
    private {{#isEnum}}{{datatypeWithEnum}}{{/isEnum}}{{^isEnum}}{{datatype}}{{/isEnum}} {{name}};

    {{/vars}}
    @CreationTimestamp
    @Column(name = "created_at", nullable = false, updatable = false)
    private LocalDateTime createdAt;

    @UpdateTimestamp  
    @Column(name = "updated_at")
    private LocalDateTime updatedAt;
}