package {{packageName}}.mapper;

import {{packageName}}.entity.{{classname}}Entity;
import {{packageName}}.model.*;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import java.util.List;

@Mapper(componentModel = "spring")
public interface {{classname}}Mapper {

    {{classname}}Mapper INSTANCE = Mappers.getMapper({{classname}}Mapper.class);

    {{classname}}Entity toEntity({{classname}} {{classVarName}});
    
    {{classname}} toModel({{classname}}Entity entity);
    
    List<{{classname}}> toModelList(List<{{classname}}Entity> entities);
    
    List<{{classname}}Entity> toEntityList(List<{{classname}}> models);
}