{{#useJakartaEe}}
@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.SpringCodegen", comments = "Generator version: {{generatorVersion}}")
{{/useJakartaEe}}
{{^useJakartaEe}}
@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.SpringCodegen", comments = "Generator version: {{generatorVersion}}")
{{/useJakartaEe}}