package {{packageName}};

import com.fasterxml.jackson.databind.util.StdDateFormat;
import java.text.DateFormat;
import java.text.FieldPosition;
import java.text.ParsePosition;
import java.util.Date;
import java.util.GregorianCalendar;
import java.util.TimeZone;

{{>generatedAnnotation}}
public class RFC3339DateFormat extends StdDateFormat {

    public RFC3339DateFormat() {
        super();
        this.setCalendar(new GregorianCalendar());
        this.setTimeZone(TimeZone.getTimeZone("UTC"));
    }

    @Override
    public Date parse(String source, ParsePosition pos) {
        return super.parse(source, pos);
    }

    @Override
    public DateFormat clone() {
        return new RFC3339DateFormat();
    }
}